* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
header {
    background-image: url(/Yukoka-BookShelf.jpg);
    background-color: rgba(
        255, 255, 255, 0.5);
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-size: 100%;
    background-repeat: no-repeat;
}

header h1 {
    font-family: "UoqMunThenKhung", serif;
    padding: 30% 10%;
}
.philosophy {
    padding: 5% 0;
    text-align: center;
}
.philosophy h2 {
    font-family: "UoqMunThenKhung", serif;
    padding-bottom: 20px;
}
.philosophy p {
    font-family: "UoqMunThenKhung", serif;
}
.question {
    background-color: beige;
    padding: 5% 0;
    text-align: center;
}
.question h2 {
    font-family: "UoqMunThenKhung", serif;
    padding-bottom: 20px;
}
.question p {
    font-family: "UoqMunThenKhung", serif;
}
.sumartphone-only {
    display: none;
}
.activity-h2 {
    font-family: "UoqMunThenKhung", serif;
    padding-top: 20px;
    text-align: center;
}
.activity-img {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
}
.activity-img img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.note1 {
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    font-size: small;
}


/* スタッフ紹介 */
.Staff-introduction {
    font-family: "UoqMunThenKhung", serif;
    text-align: center;
}
.staff {
    display: flex;
    text-align: center;
    padding: 30px 20%;
    justify-content: center;
}
.staff img {
    padding: 0 30px;
    
}


.inquiry {
    font-family: "UoqMunThenKhung", serif;
    padding: 30px 50px;
}
.inquiry h2 {
    padding: 30px 0;
}
.inquiry p {
    padding: 10px 0;
}
/* ソーシャルメディアアイコン */
.sns-p {
    padding-top: 20px;
    font-weight: bold;
}
.sns {
    display: flex;
    /* padding: 20px 0; */
}
.line {
    padding: 20px 0;
    width: 50%;
    height: auto;
}
.instagram {
    padding: 15px 0 0 30px;
    width: 8%;
    height: auto;
}   
.google-map iframe {
    max-width: 98%;
    max-height: 98%;
    padding-top: 10px;
    padding-left: 20px;
}
.inquiry-map {
    background-color: antiquewhite;
    display: flex;
}
footer {
    text-align: center;
}

@media (max-width:767px) {
    *{
        padding: 0;
        margin: 0;
    }
    html {
        font-size: 16px;
    }
    .ifream {
        max-width: 95%;
    }
    a {
        text-decoration: none;
    }
    img {
        max-width: 100%;
    }
    header {
        padding: 70% 0;
        background-size: auto 100%;
        font-size: 14px;
    }
    .philosophy h2 {
        padding: 20px 0 25px 0;
        font-size: 28px;
    }
    .philosophy {
        padding-bottom: 50px;
        font-size: 16px;
    }
    .question h2 {
        padding: 20px 0 25px 0;
        font-size: 28px;
    }
    .question p {
        padding: 0 0 30px 10px;
        font-size: 16px;
    }
    .smartphone-only {
        display: inline;
    }
    .activity-h2 {
        font-size: 30px;
    }
    .activity-img {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
}
.activity-img img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.Staff-introduction {
    font-size: 24px;
    text-align: center;
}
.staff {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* iOSの慣性スクロール */
}
.staff img {
    /* padding: 0 60px;
    width: 70%;
    height: auto; */
    width: 100%;
  flex-shrink: 1;
  scroll-snap-align: center;
  border-radius: 5px; /* お好みで */
}
.first {
    margin-left: 90%;
}
.inquiry h2 {
    font-size: 30px;
}
.inquiry p {
    font-size: 18px;
}
.inquiry {
    padding:30px 30px;
}
.sns-p {
    font-weight: bold;
}
.inquiry-map {
    display: block;
}
.inquiry-map iframe {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.google-map iframe {
    max-width: 98%;
    max-height: 98%;
    padding-left: 3px;
}
.inquiry {
    font-family: "UoqMunThenKhung", serif;
}
footer {
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}
}

@media (min-width: 768px) and (max-width: 834px) {
    .inquiry-map {
        display: block;
    }
    .google-map {
        text-align: center;
        margin: auto;
        display: block;
    }
    #map {
        margin: 0;
        padding: 0;
        width: 90%;
        height: 30vh;
        border: none;
    }
    .line  {
        padding-top: 25px;
        width: 40%;
    }
    .instagram {
        padding-top: 18px;
        width: 6%;
    }
    
}
